In [1]:
import pandas as pd
pd.Series([7,3,5,8])

0    7
1    3
2    5
3    8
dtype: int64

In [3]:
x=pd.Series([7,3,5,8], index=['서울','대구','부산','광주'])
print(x)

서울    7
대구    3
부산    5
광주    8
dtype: int64

In [5]:
x[['서울','대구']]

서울    7
대구    3
dtype: int64

In [6]:
x.index

Index(['서울', '대구', '부산', '광주'], dtype='object')

In [7]:
x.values

array([7, 3, 5, 8], dtype=int64)

In [8]:
print(sorted(x.index))
print(sorted(x.values))

['광주', '대구', '부산', '서울']
[3, 5, 7, 8]

In [9]:
x= x.reindex(sorted(x.index))
x

광주    8
대구    3
부산    5
서울    7
dtype: int64

In [10]:
medal = [1,3,2,4,2,3]
x = pd.Series(medal)
print(pd.unique(x))

[1 3 2 4]

In [12]:
medal = ['민준','현우','서연','동현','서연','현우']
x = pd.Series(medal)
print(pd.unique(x))

['민준' '현우' '서연' '동현']

In [13]:
names = ['민준','서연','현우','민서','동현','수빈']
pdata = pd.Series(names)
print(pdata)

0    민준
1    서연
2    현우
3    민서
4    동현
5    수빈
dtype: object

In [14]:
a= pdata[3:6]
print(a.values)

['민서' '동현' '수빈']

In [15]:
ary = [[1,2],[3,4],[5,6]]
data = pd.DataFrame(ary,columns=['First','Second'])
data

   First  Second
0      1       2
1      3       4
2      5       6

In [16]:
data.iloc[1]

First     3
Second    4
Name: 1, dtype: int64

In [20]:
data.iloc[:,-1]

0    2
1    4
2    6
Name: Second, dtype: int64

In [21]:
ary = [[1,2],[3,4],[5,6],[7,8],[9,10]]
data = pd.DataFrame(ary,columns=['First','Second'])
data.head(3)

   First  Second
0      1       2
1      3       4
2      5       6