In [1]:
import pandas as pd
virus = pd.read_csv('aaa.csv', engine='python')
virus.head()

     항목  사례수    증가   감소  변화 없음
0    뉴스  994  72.2  3.4   24.3
1    예능  975  55.8  7.4   36.8
2   드라마  916  53.8  7.2   39.0
3    게임  695  49.6  9.8   40.6
4  시사교양  943  48.1  4.9   47.0